# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('./data/ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [4]:
# Corrected as Venues to Cities
df_ipl['city'].unique()

array(['East London', 'Port Elizabeth', 'Centurion', 'neutral_venue',
       'Chennai', 'Jaipur', 'Kolkata', 'Delhi', 'Chandigarh', 'Hyderabad',
       'Ranchi', 'Mumbai', 'Bangalore', 'Dharamsala', 'Pune', 'Rajkot',
       'Durban', 'Cuttack', 'Cape Town', 'Ahmedabad', 'Johannesburg',
       'Visakhapatnam', 'Abu Dhabi', 'Raipur', 'Kochi', 'Kimberley',
       'Nagpur', 'Bloemfontein', 'Indore', 'Kanpur'], dtype=object)

### Find the columns which contains null values if any ?

In [13]:
df_ipl.isna().sum() >0
df_ipl.columns[df_ipl.isna().sum() >0]     #cant do df_ipl[df_ipl.isna().sum() >0] because df_ipl will have length of columns say 11
#HOwever df_ipl.columns has TRUE/False value so it maps to the boolean for the is.na() condition

Index(['winner', 'win_type', 'win_margin', 'extras_type', 'player_out',
       'wicket_kind', 'wicket_fielders'],
      dtype='object')

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [32]:
#df_ipl['venue'].value_counts().head()   cant ue because this is given at a delivery level and not match level
df_ipl.groupby(['venue']).match_code.nunique().sort_values(ascending=False).head()   #REMEMBER NUNIQUE

venue
M Chinnaswamy Stadium              58
Eden Gardens                       54
Feroz Shah Kotla                   53
Wankhede Stadium                   49
MA Chidambaram Stadium, Chepauk    48
Name: match_code, dtype: int64

### Make a runs vs run-count frequency table

In [40]:
df_ipl['runs'].value_counts()

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [37]:
df_ipl['datetime']=pd.to_datetime(df_ipl['date'])
df_ipl['year']=pd.DatetimeIndex(df_ipl['datetime']).year
df_ipl['year'].nunique()

9

### What are the total no. of matches played per season

In [49]:
df_ipl[['year','match_code']]
df_ipl.groupby(['year']).match_code.nunique()

year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [59]:
df_ipl.groupby(['year']).total.sum()

year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [66]:
df_ipl.groupby(['match_code','batting_team']).total.sum().sort_values(ascending=False).head(10)

match_code  batting_team
598027      Royal Challengers Bangalore    263
980987      Royal Challengers Bangalore    248
419137      Chennai Super Kings            246
335983      Chennai Super Kings            240
829795      Royal Challengers Bangalore    235
501260      Kings XI Punjab                232
733987      Kings XI Punjab                231
501223      Delhi Daredevils               231
980907      Royal Challengers Bangalore    227
829785      Royal Challengers Bangalore    226
Name: total, dtype: int64

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [73]:
pivot = pd.pivot_table(df_ipl,index='match_code',columns='inning',values='total',aggfunc=np.sum)
pivot

inning          1      2
match_code
335982      222.0   82.0
335983      240.0  207.0
335984      129.0  132.0
335985      165.0  166.0
335986      110.0  112.0
335987      166.0  168.0
335988      142.0  143.0
335989      208.0  202.0
335990      214.0  217.0
335991      182.0  116.0
335992      135.0  138.0
335993      147.0  152.0
335994      154.0  155.0
335995      158.0  162.0
335996      178.0  165.0
335997      137.0  138.0
335998      191.0  181.0
335999      164.0  167.0
336000      196.0  151.0
336001      169.0  172.0
336002      165.0  171.0
336003      178.0  169.0
336004      162.0  133.0
336005      109.0  110.0
336006      126.0  127.0
336007      144.0  148.0
336008      103.0  104.0
336009      187.0  188.0
336010      129.0  124.0
336011      140.0  141.0
...           ...    ...
980961      149.0  150.0
980963      164.0  157.0
980965      162.0  166.0
980967      126.0  129.0
980969      191.0  195.0
980971      181.0  172.0
980973      177.0   92.0
980975      158.0  164.0
980977      175.0  174.0
980979      137.0  133.0
980981      151.0  153.0
980983      146.0  150.0
980985      124.0  127.0
980987      248.0  104.0
980989      103.0   66.0
980991      179.0  180.0
980993      206.0  126.0
980995      183.0  186.0
980997      121.0   76.0
980999      211.0  120.0
981001      124.0  125.0
981003      158.0  161.0
981005      172.0  173.0
981007      172.0  173.0
981009      171.0  149.0
981011      138.0  139.0
981013      158.0  159.0
981015      162.0  140.0
981017      162.0  163.0
981019      208.0  200.0

[577 rows x 2 columns]

In [77]:
pivot['2nd_inning_chase']=pivot.iloc[:,1]>pivot.iloc[:,0]

In [92]:
matches_greater_than_200=pivot[pivot.iloc[:,0]>200]

In [94]:
matches_greater_than_200['2nd_inning_chase'].sum()/matches_greater_than_200.shape[0]

0.1282051282051282

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [98]:
season_wise_winner=df_ipl.groupby(['year','match_code']).winner.unique().reset_index()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [99]:
season_wise_winner.winner.value_counts()

[Mumbai Indians]                 80
[Chennai Super Kings]            79
[Royal Challengers Bangalore]    69
[Kolkata Knight Riders]          68
[Kings XI Punjab]                61
[Rajasthan Royals]               61
[Delhi Daredevils]               56
[Sunrisers Hyderabad]            33
[Deccan Chargers]                29
[Pune Warriors]                  12
[Gujarat Lions]                   9
[Kochi Tuskers Kerala]            6
[Rising Pune Supergiants]         5
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
[nan]                             1
Name: winner, dtype: int64